* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: rgb(167, 167, 167)
}

#wrapper {
  color: black;
}

/* ! Important note: index.html overrides this rule since its the landing page !*/
#content {
  margin-left: 20px;
  margin-right: 20px;
}

.txtConstruction {
  margin-top: 3%;
  margin-right: 3%;
  margin-left: 0%;
  -webkit-column-count: 2;
  /* Chrome, Safari, Opera */
  -moz-column-count: 2;
  /* Firefox */
  column-count: 2;
  -webkit-column-gap: 40px;
  /* Chrome, Safari, Opera */
  -moz-column-gap: 40px;
  /* Firefox */
  column-gap: 40px;
  -webkit-column-rule-style: solid;
  /* Chrome, Safari, Opera */
  -moz-column-rule-style: solid;
  /* Firefox */
  column-rule-style: solid;
}

#imgFalconHeavy {
  position: relative;
  height: auto;
  width: auto;
  max-width: 500px;
  left: 3%;
  padding-bottom: 70px;
}

.questions {
  margin-top: 5%;
  margin-right: 6%;
  margin-left: 6%;
  margin-bottom: 5%;
  -webkit-column-count: 3;
  /* Chrome, Safari, Opera */
  -moz-column-count: 3;
  /* Firefox */
  column-count: 3;
  -webkit-column-gap: 40px;
  /* Chrome, Safari, Opera */
  -moz-column-gap: 40px;
  /* Firefox */
  column-gap: 40px;
  -webkit-column-rule-style: solid;
  /* Chrome, Safari, Opera */
  -moz-column-rule-style: solid;
  /* Firefox */
  column-rule-style: solid;
}

#navigation {
  left: 0;
  top: 0;
  width: 100%;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  background-color: #333;
  text-align: center;
  padding: 14px 16px;
}

.txtConstruction {
  position: relative;
  left: 40%;
  width: 40%;
}

.historyTable {
  margin-bottom: 70px;
  margin-top: 30px;
  position: relative;
  left: -5%;
}

table {
  left: 30%;
  text-align: center;
  position: rel;
}

.historytext {
  margin-top: 2%;
  position: relative;
  left: 30%;
  width: 40%;
}

/* change appearance of the header */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
  color: white;
  text-decoration: none;
  padding: 14px 16px;
}

/* centered text element over the image */

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.btn {
  border: none;
  margin-top: 20px;
  padding: 16px 30px;
  text-align: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 20px;
  background-color: #998066;
}

.btn:hover {
  border: #998066;
  /*   background-color: #8a745c; */
  background-color: none;
}

.indic {
  position: absolute;
  top: 85%;
  left: 50%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}