* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  background-color: grey
}
#wrapper {
color: black
}
table {
  text-align: center;
  position: static;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  #gallery {
    position: relative;	
    max-width: 100%;
  }

  #gallery img {
    max-width: 100%;
    height: auto;
    padding: 0;  
  }
   
  .changer figure {        /* wird erst per JS aktiviert */
    position: absolute;
    width: 100%; 
    margin: 0;
    padding: 0;
    opacity: 0;
  }

  /* centered text element over the image */
  .center {
    position: absolute;
    top: 40%;
    left: 40%;
    /*transform: translate(-50%, -50%);*/
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-align: center;
  }
 
  .btn {
    border: none;
    padding: 16px 30px;
    text-align: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
    background-color: #998066;
  }

  .btn:hover {
    background-color: #8a745c;
  }


#footer {
  position: fixed; 
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  background-color: #333;
  text-align: center;
  padding: 14px 16px;
}

#FalconHeavy {

margin-top: 10%;
margin-right: 500%;
margin-bottom: 20%;
margin-left: 500%;
}

