* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: grey
}

#wrapper {
  color: black;
}

#content {
  margin-left: 20px;
  margin-right: 20px;
}

#navigation {
  left: 0;
  top: 0;
  width: 100%;
}

#footer {
  position: fixed; 
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  background-color: #333;
  text-align: center;
  padding: 14px 16px;
}

.txtConstruction {
  position: relative;
  left: 40%;
  width: 40%;
}

.historyTable {
  margin-top: 10px;
  position: relative;
  left: 25%;
}

table {
  left: 50%;
  text-align: center;
  position: static;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  #gallery {
    max-width: 100%;
    position: relative;
    margin: auto;
  }

  /* centered text element over the image */
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-align: center;
  }
 
  .btn {
    border: none;
    padding: 16px 30px;
    text-align: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
    background-color: #998066;
  }

  .btn:hover {
    background-color: #8a745c;
  }




#imgFalconHeavy {
  position: relative;
  margin-top: -15%;
  height: auto;
  width: auto;
  max-width: 512px;
  left: 5%;
  padding-bottom: 50px;
}

/* Fading animation */
figure {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes figure {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes figure {
  from {opacity: .4} 
  to {opacity: 1}
}
